{% extends 'base.html.twig' %}

{% block title %}EventRoom : Mes réservations
{% endblock %}

{% block body %}
	<main class="profile">
		{{ include('./components/partials/profileMenu.html.twig') }}
		<div class="profile__content">
			<h1 class="text-center w-100">Mes Réservations</h1>
			<div class="row">
			{% for booking in bookings %}
			<div class="col-12 col-lg-6 p-2 profile__content--notification">
				<div class="border rounded d-flex gap-1">
                    <img src="{{ vich_uploader_asset(booking.roomId.getFirstImage(), 'imageFile') }}" alt="Image de la salle">

                    <div class="my-auto p-2">
						<h6>"{{ booking.roomId.title }}"</h6>
						<p class="w-100 m-0"><i>{{ booking.roomId.address }} ; {{ booking.roomId.zipCode }} {{ booking.roomId.city }}</i></p>
						<p class="w-100 m-0"><strong>Réservation : </strong>{{ booking.status.value }}</p>         
						<p class="w-100 m-0"><strong>Période : </strong><small>du {{ booking.checkInAt|date('d/m/Y') }} au {{ booking.checkOutAt|date('d/m/Y') }}.</small></p>         
						<p class="w-100 m-0 text-danger"><strong>Total : </strong><span>{{ booking.billing | number_format(2, '.', ' ') }} €</span></p>         
					</div>
                </div>
			</div>
			{% endfor %}
			</div>
		</div>
	</main>
{% endblock %}
