{% extends 'base.html.twig' %}


{% block title %}EventRoom : Accueil
{% endblock %}

{% block body %}
	<main class="home">
		<div class="home__hero">
			<figure class="home__hero--figure">
				<img src="https://www.snapevent.fr/media/cache/place_full/upload/user/image/000/662/SnapEvent-Lieu-L-atelier-du-france-234761.jpg" alt="illustration">
		
	
			<div class="home__hero--text">
				<h1 class="text-shadow">Louez les salles correspondants à vos besoins</h1>
				<p class="text-shadow">Trouvez les meilleurs salles, au meilleurs prix sur notre site. Vous y trouverez tout ce dont vous avez besoins en quelques cliques.</p>
				<br>
				<div class="home__form--content shadow p-3 mb-5 bg-body-tertiary rounded">
			<form action="{{ path('app_room')}}" method="GET">
					<div class="home__form--group">
						<label for="city">Ville</label>
						<input type="text" name="city" id="city" placeholder="Ville">
					</div>
					<div class="">
						<button type="submit" class="btn btn-warning rounded-5">
							<i class="bi bi-search"></i>
						</button>
					</div>
			</form>
			<form action="{{ path('app_room')}}" method="GET">
			
					<div class="home__form--group">
						<label for="checkin">Date d'entrée</label>
						<input type="date" name="checkin" id="checkin">
					</div>
					<div class="home__form--group">
						<label for="checkout">Date de sortie</label>
						<input type="date" name="checkout" id="checkout">
					</div>
					<div class="">
						<button type="submit" class="btn btn-warning rounded-5">
							<i class="bi bi-search"></i>
						</button>
					</div>
				
			</form>
				</div>
<a class="text-shadow" href="{{ path('app_room')}}">
<button class="btn btn-light fw-bold">DÉCOUVREZ TOUTES NOS SALLES</button>
				</a>
			</div>
			
			
		</div>
		<div class="home__form">
			
		</div>
	</figure>
		<article class="home__gallery">
			<h2>Découvrez nos dernières salles :</h2>
    <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, assumenda odit aut nulla, reprehenderit numquam nisi repudiandae sint consequatur distinctio dolorem exercitationem ratione? Molestiae, rem quam illum quod fuga nobis.</p>

			<div class="row">
    {% for room in rooms %}
        <div class="col-6 col-lg-4 p-2">
            <a href="{{ path('app_room_show', { 'id': room.id }) }}">
                <div class="card">
                    {% if room.getFirstImage() is not null %}
                        <img src="{{ vich_uploader_asset(room.getFirstImage(), 'imageFile') }}" alt="Room Image" class="w-full h-36 object-cover">
                    {% else %}
                        <img src="{{ asset('images/website/hero.jpg') }}" alt="Produit Image Par Défaut" class="w-full h-36 object-cover">
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title text-truncate" style="max-width: 100%;">
                            {{ room.title }}
                        </h5>
                        <p><i>{{ room.city }}</i></p>
                        <div class="d-flex justify-content-between">
                            <ul>
                                <li><small> Min : {{ room.capacityMin }} <i class="bi bi-people"></i></small></li>
                                <li><small> Max : {{ room.capacityMax }} <i class="bi bi-people"></i></small></li>
                            </ul>
                            <p><span>{{ room.price }} €</span><br>/jour</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>

		</article>
	</main>
{% endblock %}