{% extends 'base.html.twig' %}

{% block title %}EventRoom : {{ room.title }}{% endblock %}

{% block body %}
<main class="room">
   <figure class="room__figure">
      <img class="room__figure--image" src="https://images.pexels.com/photos/2693212/pexels-photo-2693212.png?auto=compress&cs=tinysrgb&w=1920" alt="illustration">
   </figure>
   <div class="room__content shadow p-3 mb-5 bg-body-tertiary rounded">
      <article>
         <div class="room__content--header">
            <div>
               <h1>{{ room.title }}</h1>
               <p><i>{{ room.capacityMin }} <i class="bi bi-people"></i> - {{ room.capacityMax }} <i class="bi bi-people"></i></i></p>
            </div>
            <p><span>{{ room.price }} €</span>/jour</p>
         </div>
         
         <p>{{ room.description }}</p>
         <div class="row justify-content-between room__content--detail">
            <div class="col-5 col-lg-6">
               {% if room.ergonomic is not empty %}
                  <p><i class="bi bi-building"></i> Ergonomie :</p>
                  <ul>
                     {% for ergo in room.ergonomic %}
                     <li>{{ ergo }}</li>
                     {% endfor %}
                  </ul>
               {% endif %}
               {% if room.equipment is not empty %}
                  <p><i class="bi bi-lightbulb"></i> Equipement :</p>
                  <ul>
                     {% for eqt in room.equipment %}
                        <li>{{ eqt }}</li>
                     {% endfor %}
                  </ul>
               {% endif %}
            </div>

            <!-- Carrousel Bootstrap -->
            <div class="col-12 col-lg-15">
               <div id="roomImagesCarousel" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                     {% for image in room.getRoomImgs() %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                           <img src="{{ vich_uploader_asset(image, 'imageFile') }}" class="d-block w-100" alt="Image de la salle">
                        </div>
                     {% else %}
                        <div class="carousel-item active">
                           <img src="{{ asset('images/cool.png') }}" class="d-block w-100" alt="Image par défaut">
                        </div>
                     {% endfor %}
                  </div>

                  <!-- Boutons précédent/suivant -->
                  <button class="carousel-control-prev" type="button" data-bs-target="#roomImagesCarousel" data-bs-slide="prev">
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                     <span class="visually-hidden">Précédent</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#roomImagesCarousel" data-bs-slide="next">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="visually-hidden">Suivant</span>
                  </button>
               </div>
            </div>
            <!-- Fin du carrousel -->
         </div>
      </article>

      <!-- Formulaire de réservation -->
      <section class="shadow-sm p-3 mb-5 rounded">

         <h5>Calendrier des réservations</h5>
         <button class="btn btn-primary" id="calendar-btn">Voir le calendrier</button>
         <div id="calendar" style="display: none;"></div>

         <div class="room__content--form">
            <legend><h5 class="text-center">Réservez votre salle dès maintenant</h5></legend>

            {% for message in app.flashes('error') %}
               <div class="alert alert-danger">
                  {{ message }}
               </div>
            {% endfor %}

            {{ form_start(BookingForm) }}
               <input type="hidden" name="token" value="{{ csrf_token('new_booking') }}">
               <div class="room__content--group">
                  {{ form_row(BookingForm.check_in_at) }}
               </div>
               <div class="room__content--group">
                  {{ form_row(BookingForm.check_out_at) }}
               </div>
               <p>Prix par jour : <span id="roomPrice">{{ room.price }}</span> €</p>
               <p>Total pour le séjour : <span id="totalPrice">0 €</span></p>
               <div class="button">
                  <button type="submit" class="btn btn-success">Réserver</button>
               </div>
            {{ form_end(BookingForm) }}
         </div>
         
         <!-- Coordonnées de la salle -->
         <div class="room__content--address">
            <h6>Coordonnées</h6>
            <p>{{ room.title }}<br/>
            {{ room.address }}<br/>
            {{ room.zipCode }} {{ room.city }}</p>
         </div>
      </section>
   </div>
</main>

{% block javascripts %}
{{ parent() }}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>
<script>
    // Fonction pour initialiser le calendrier
    function initializeCalendar() {
        var calendarEl = document.getElementById('calendar');
        
        // Vérifier si le calendrier existe déjà
        if (calendarEl._calendar) {
            calendarEl._calendar.destroy();
        }

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: {{ events|raw }},
            headerToolbar: {
               left: 'prev',
               center: 'title',
               right:'next'
            }
        });

        calendar.render();
        
        // Stocker l'instance du calendrier
        calendarEl._calendar = calendar;
    }

    // Initialiser le calendrier lorsque le bouton est cliqué
    document.getElementById('calendar-btn').addEventListener('click', function() {
        // Cacher le bouton
        this.style.display = 'none';
        
        // Afficher le calendrier
        var calendarEl = document.getElementById('calendar');
        calendarEl.style.display = 'block';
        
        // Initialiser le calendrier
        initializeCalendar();
    });

    // Réinitialiser le calendrier lors du changement d'URL
    window.addEventListener('popstate', initializeCalendar);
</script>
{% endblock %}
{% endblock %}
